title = "password"
url = "/forget-password"
layout = "default"
is_hidden = 0

[resetPassword]
paramCode = "code"
==
{% if not user %}
<div class="header-about">
        <div class="container text-center">
          <h1>فقدت كلمة المرور</h1>
        </div>
      </div>

  <div class="row">
        <div class="container">
<div id="partialUserResetForm">
    {% if resetPassword.code == null %}
        {% partial resetPassword ~ '::restore' %}
    {% else %}
        {% partial resetPassword ~ '::reset' %}
    {% endif %}
</div>
</div>
{% endif %}