==
<section class="footer-section text-center">
            <ul>
              <li><a href="#">الرئيسية </a></li>
              <li><a href="#">عن الموقع</a></li>
              <li><a href="#">الأقسام</a></li>
              <img src="{{ 'assets/images/logofooter.png'|theme}}">
              <li><a href="#">المقالات</a></li>
              <li><a href="#">حساب جديد</a></li>
              <li><a href="#">تسجيل دخول</a></li>
            </ul>
            <p>جميع الحقوق محفوظة ل بيكاليكا 2017</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
       </section>